:root {
  --bg-color: rgba(32, 32, 32, 1); /* 背景颜色 */
  --subtle-color: rgba(34, 36, 41, 1); /* 柔和颜色*/
  --text-color: rgba(221, 223, 228, 1); /* 文字颜色 */
  --shadow-color: rgba(0, 0, 0, 1); /* 阴影颜色 */

  
  --text-soft-color: rgba(185, 187, 193, 1); /* 柔和文字颜色 */
  --text-strong-color: rgba(187, 187, 187, 1); /* 强烈文字颜色 */
  --border-color: rgba(43, 48, 61, 1); /* 边框颜色 */
  --input-color: rgba(28, 28, 28, 1); /* 输入框颜色 */
  --outline-color: rgba(129, 159, 219, 1); /* 轮廓颜色 */
  --mark-color: rgba(99, 139, 210, 0.08); /* 标记颜色 */
  --special-color: rgba(99, 139, 210, 1); /* 特殊颜色 */
  --special-bg-color: rgba(69, 99, 152, 1); /* 特殊背景颜色 */
  --special-text-color: rgba(221, 223, 228, 1); /* 特殊文字颜色 */
  --special-shadow-color: rgba(26, 30, 41, 1); /* 特殊阴影颜色 */
  --special-mark-color: rgba(221, 223, 228, 0.08); /* 特殊标记颜色 */
  --light-color: rgba(201, 212, 239, 1); /* 浅色 */
  --dark-color: rgba(46, 53, 69, 1); /* 深色 */
  --text-color-rgb: 221, 223, 228; /* 文字颜色 - RGB 值 */
  --bg-color-rgb: 32, 32, 32; /* 背景颜色 - RGB 值 */
  --subtle-color-rgb: 34, 36, 41; /* 柔和颜色 - RGB 值 */
  --special-color-rgb: 99, 139, 210; /* 特殊颜色 - RGB 值 */
  --special-text-color-rgb: 221, 223, 228; /* 特殊文字颜色 - RGB 值 */
  --special-bg-color-rgb: 69, 99, 152; /* 特殊背景颜色 - RGB 值 */
  --shadow-color-rgb: 0, 0, 0; /* 阴影颜色 - RGB 值 */
  --special-shadow-color-rgb: 26, 30, 41; /* 特殊阴影颜色 - RGB 值 */
  --outline-color-rgb: 129, 159, 219; /* 轮廓颜色 - RGB 值 */
  --dark-color-rgb: 46, 53, 69; /* 深色 - RGB 值 */
  --light-color-rgb: 201, 212, 239; /* 浅色 - RGB 值 */
}
